/* IMPLEMENTACIÓN DE VARIABLES */
@use "../variables/variables" as vars;

/* ESTILOS INDEX */
/* class para el título principal con tipeo en INDEX*/
.tituloPrincipaltypewriter {
    font-size: 3em;
    color: vars.$color-primario;
    white-space: nowrap; 
    display: flex; 
    align-items: center;
    font-weight: bold;
    
    .text {
    display: inline-block;
    overflow: hidden !important; 
    animation: typing 3s steps(13, end); 
    white-space: nowrap;
    }

    .cursor {
    border-right: 2px solid vars.$color-primario; 
    width: 1px; 
    height: 1em; 
    animation: blink 0.5s step-end infinite; 
    margin-left: 10px; 
    margin-right: 15px; 
    }
}

.botonSonido {
    background: none; 
    border: none; 
    cursor: pointer; 
    display: inline-block; 
    vertical-align: middle; 
    
    img {
        width: 35px; 
        height: 35px;
        vertical-align: middle; 
    }
}

/* animación del tipeo */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: calc(13ch - 1ch);
    }
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: vars.$color-primario;
    }
}

/* RESPONSIVE INDEX */
/* Responsive pantallas pequeñas */
/* Utilización de !imports por superposición de estilos con bootstrap */
@media (max-width: 768px) {
    /* Contenedor principal */
    .container {
        display: flex !important; 
        flex-direction: column !important; 
        align-items: center !important; 
        justify-content: space-around; 
        gap: 10px !important; 
        padding: 20px !important; 
        min-height: 100vh !important; 
        overflow-y: auto !important;  /* Habilita scroll vertical */
        overflow-x: hidden !important; /* Oculta el scroll horizontal */ 
    }

    /* Título principal */
    h1.tituloPrincipaltypewriter {
        font-size: 25px !important; 
        text-align: center !important;
        margin-bottom: 10px !important;
    }

    /* Botón de sonido */
    .botonSonido img {
        width: 20px !important; 
        height: 20px !important;
    }

    /* Contenedor del texto */
    article {
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: justify !important;
        overflow-y: auto !important; /* Activa el scroll vertical si el texto no cabe */
       
        /* Párrafos del artículo */
        p {
            font-size: 1em !important; 
            line-height: 1.5 !important; 
            margin-bottom: 10px !important; 
            margin-top: 10px !important;
        }
    }

    /* Imagen */
    .asideContainer img {
        margin-bottom: 5px !important; 
        max-width: 30% !important; 
        height: auto !important; 
        margin-top: auto; 
        margin-bottom: auto; 
    }

    /* Footer */
    #footer {
        margin-top: auto; 
    }
}

/* Media Query para pantallas intermedias */
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        flex-direction: column !important; 
        align-items: center !important; 
        gap: 5px !important; 
        padding: 0 10px !important; 
        min-height: 100vh !important; 
        display: flex !important; 
        justify-content: center;
        overflow-y: auto !important;  /* Habilita scroll vertical */
        overflow-x: hidden !important; /* Oculta el scroll horizontal */   
    }

    /* Título principal */
    .tituloPrincipaltypewriter {
        font-size: 1rem !important; 
        text-align: center !important;
        padding-left: 20px;
        padding-right: 20px; 
    }

    /* Botón de sonido */
    .botonSonido img {
        width: 25px !important; 
        height: 25px !important;
    }

    /* Aside para la imagen */
    .asideContainer img {
        margin-bottom: 5px !important; 
        max-width: 35% !important; 
        height: auto !important; 
        margin-top: 2em !important; 
    }

    article p {
        font-size: 1rem !important; 
        line-height: 1 !important; 
        text-align: justify !important; 
        margin-bottom: 20px !important; 
        margin-top: 10px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        display: block !important; /* Por si accidentalmente tiene display: none */ 
    }

    section.mainContainer {
        overflow-y: auto !important;  /* Habilita scroll vertical */
        overflow-x: hidden !important; /* Oculta el scroll horizontal */
    }
}

@media (min-width: 992px) {
    .asideContainer img {
        max-width: 80% !important; /* Ajusta el ancho máximo para pantallas grandes */
    }

    #main.container > section.mainContainer > article {
        max-height: none !important; /* Quita cualquier restricción de altura */
        overflow: visible !important; /* Asegura que el contenido no sea cortado */
        display: block !important; /* Por si accidentalmente tiene display: none */
    }
}

@media (max-width: 768px) and (max-width: 992px) {
    #main.container {
        font-size: 13px !important; /* Ajuste solo para Contacto */
        line-height: 1.5 !important;
    }
}