/* IMPLEMENTACIÓN DE VARIABLES */
@use "../variables/variables" as vars;

/* ESTILOS PÁGINA SKILLS con GRID*/
.containerSkills {
    display: grid; 
    grid-template-columns: 70% 30%; 
    gap: 10px; 
    align-items: center; 
    min-height: calc(100vh - 65px);

    .mainContainerSkills {
        .tituloPrincipal {
            padding-left: 20px;
            padding-right: 20px;
        }

        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .imagenesGrid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 10px; 
        justify-items: stretch;
        align-items: center;
        margin-right: 20px;
        /*se arma cuadro de grilla, aunque no se use el llamado grid-area:
        grid-template-areas:
            col#1     col#2    col#3
    /*fil#1 "excel    powerbi    sql"
    /*fil#2 "mongodb  python     git"
    /*fil#3 "github2    sap      vsc"*/

        img {
            width: 80%;
            height: 100%; 
            object-fit: cover; 
            border-radius: 0;
            border: none; 
            box-shadow: none; 
            margin: 0px;
            margin-bottom: 0px;

            /* animación sobre imagenes Skills */
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* RESPONSIVE para SKILLS */
@media (max-width: 768px) {
    .containerSkills {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
        gap: 10px; 
        height: auto; 
        min-height: auto; 
        margin-bottom: 10px;

        .mainContainerSkills {
            order: 1; 
            padding: 10px; 

            .tituloPrincipal {
                padding-left: 20px;
            }
        }

        .imagenesGrid {
            order: 2; 
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            gap: 10px; 
            margin-right: 0; 

            img {
                width: 70%; 
                max-width: 120px; 
                height: auto; 
                margin: 0 auto; 
                display: block; 
                margin-bottom: 0px;
            }
        }
    }
}

/* ULTIMAS MODIFICACIONES SOBRE TAMAÑO TEXTO */
@media (min-width: 768px) and (max-width: 992px) {
    #body.bootstrapActive {
        font-size: 16px !important; /* Ajuste para este rango específico */
        line-height: 1.5 !important;
    }
}

@media (max-width: 768px) and (max-width: 992px) {
    #main.containerSkills {
        font-size: 14px !important; /* Ajuste solo para Contacto */
        line-height: 1.5 !important;
    }
}

@media (max-width: 768px) {
    .containerSkills {
        .mainContainerSkills {
            .tituloPrincipal {
                font-size: 1.5rem !important; /* Aumenta el tamaño del título */
                margin-top: 15px !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .mainContainerSkills {
        margin: 0 !important; /* Elimina márgenes internos */
        padding: 0 !important; /* Elimina paddings internos */
        width: 100% !important; /* Asegura que el contenedor use todo el espacio disponible */
        box-sizing: border-box !important; /* Asegura que el padding no afecte el ancho total */
    }
}
