/* IMPLEMENTACIÓN DE VARIABLES */
@use "../variables/variables" as vars;

/* ESTILOS EXPERIENCIA */
/* Configuración general */
.containerExperiencia {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/* Sección Experiencia */
.contenidoExperiencia {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textoConIcono {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: justify;
}

.textoConIcono img {
    width: 100px;
    height: auto;
}

/* Sección Referencias */
.referencias {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas: formulario e imagen */
    gap: 10px;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .imagenScroll {
        width: 100%; 
        height: 400px;
        overflow-y: auto;
        border: 4px solid vars.$color-primario; 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        padding: 10px; 
        box-sizing: border-box; 
        background-color: rgba(0, 0, 0, 0.5);

        img {
            width: 100%; 
            height: auto; 
            object-fit: cover; 
        }
    }

    .textoReferencias {
        grid-column: 1 / span 2; 
        text-align: left; 
        margin-bottom: 10px; 
        font-size: 14px; 
        line-height: 1;
    }
}

/* RESPONSIVE EXPERIENCIA */
/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .referencias {
        display: flex;
        flex-direction: column; 
        gap: 20px;

        .imagenScroll {
            order: 1; 
            width: 100%; 
            height: 250px; 
            overflow-y: auto; 
            border: 4px solid vars.$color-primario; 
            border-radius: 10px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            padding: 10px; 
            box-sizing: border-box; 
            background-color: rgba(0, 0, 0, 0.5); 

            img {
                width: 100%; 
                height: auto; 
                object-fit: cover;
            }
        }

        form.contactame {
        order: 2;
        }

    }
}

/*RESPONSIVE EXPERIENCIA & CONTACTO */
@media (min-width: 1200px) {
    /* Estilos solo para la página Experiencia */
    #main.containerExperiencia,
    #main.containerContacto {
        margin-top: 120px; 
        margin-bottom: 70px;
    }

    /* Estilo para las referencias dentro de estas páginas */
    .referencias {
        padding: 20px;
    }
}

/* selector sobre texto de aplicación global */
article p {
    font-size: 1.2em;
    color: vars.$color-escritura;
    text-align: justify;
    line-height: 1.5;
}

/* selector aside de aplicación en index */
.index .asideContainer {
    flex: 1; /* 50% del espacio */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

     img {
        max-width: 80%;
        height: auto; 
        border-radius: 10px;
        display: block; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
}