/* ESTILOS PROYECTOS con GRID */
/* Caracteristicas de la página de Proyectos */
.containerProyectos {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px 20px; 
    max-width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;

    /* Título principal */
    .tituloPrincipalProyectos {
        font-size: 2rem;
        font-family: Arial, sans-serif; 
        color: #e46fb9;
        text-align: center;
        margin-bottom: 20px;
        max-width: 1200px; /* Limita el ancho del título en pantallas grandes */
        font-weight: bold;
    }

    /* Grilla de proyectos */
    .gridProyectos {
        display: grid;
        grid-template-areas:
            "analytics sql mongodb"
            "python engineer docencia";
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        /* Asignación de áreas */
        .analytics { grid-area: analytics; }
        .sql { grid-area: sql; }
        .mongodb { grid-area: mongodb; }
        .python { grid-area: python; }
        .engineer { grid-area: engineer; }
        .docencia { grid-area: docencia; }
    }

    /* Cajas de cada proyecto */
    .proyecto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #d836a5;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 100%;
        max-width: 250px;
        height: 170px;
        padding: 10px;
        box-sizing: border-box;

        /* Estilo para los gif proyectos */
        img {
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
        }

        /* Características del texto y la flecha */
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            /* Estilo para el texto de proyectos */
            p {
                font-family: Arial, sans-serif;
                font-size: 1rem; 
                font-weight: bold; 
                color: black;
                margin: 0; 
                text-align: center;
            }

            /* Estilo para el ícono de la flecha */
            .flecha {
                width: 20px; 
                height: 20px;
                display: inline-block; 
                margin: 0; 
                padding: 0; 
                object-fit: cover; 
                transition: transform 0.3s ease; 

                /* Efecto hover para agrandar el ícono */
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .sectionProyectos {
        display: flex; 
        justify-content: center;
        align-items: center; 
        padding: 20px;
        max-width: 1200px; 
        margin: 0 auto; 
    }
}

/* RESPONSIVE en grilla PROYECTOS */
@media (max-width: 765px){
    .gridProyectos {
        grid-template-areas:
        "analytics  sql"
        "mongodb   python"
        "engineer docencia";
        grid-template-columns: 1fr 1fr;
    }
}