/* IMPLEMENTACIÓN DE VARIABLES */
@use "../variables/variables" as vars;

/* ESTILOS FORMACIÓN ACADÉMICA */
/* Contenedor del texto e ícono */
.textoConIcono {
    font-family: vars.$tipo-letra;
    color: vars.$color-escritura;
    font-size: 14px;
    display: flex; 
    align-items: center; 
    gap: 15px; 
    line-height: 1.5; 
    text-align: justify;
    margin: 0 20px; /* Margen lateral para evitar desbordamiento */
    margin-bottom: 20px !important;

    /* Asegura que el ícono se posicione en el centro */
    .icono {
        display: flex; 
        justify-content: center; 
        align-items: center;

        /* Estilo del ícono */
        img {
            width: 100px; 
            height: 100px; 
            cursor: pointer; 
            transition: transform 0.3s ease;

            /* Efecto hover en el ícono */
            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.tituloPrincipal {
    img {
        max-width: 60px; 
        height: auto; 
        vertical-align: middle; 
        margin-left: 10px; 
    }
}

/* RESPONSIVE FORMACIÓN ACADÉMICA */
@media (max-width: 768px) {
    .containerFormacion {
        padding: 15px;
    }

    .textoConIcono {
        flex-direction: column; 
        align-items: center;
        margin-left: 0px !important; /* Menos margen en el lado izquierdo */
        margin-right: 0px !important; /* Menos margen en el lado derecho */

        img {
            max-width: 60px; 
            margin-top: 10px;
        } 
    }

    .tituloPrincipal {
        font-size: 0.9rem !important; 
        text-align: center;

        img {
            max-width: 40px; 
            height: auto; 
            margin-left: 5px; 
        }
    }
}

@media (max-width: 768px) {
    section.mainContainerSobreMi {
    padding: 0 !important; /* Quita el espacio interno en móviles */
    }
}