/* IMPLEMENTACIÓN DE VARIABLES */
@use "../variables/variables" as vars;

/* Cambios globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* class sobre títulos principales */
.tituloPrincipal {
    font-size: 3em;
    color: vars.$color-primario;
    margin-bottom: 20px;
    font-weight: bold;
}

/* class sobre títulos secundarios */
.tituloSecundario {
    font-size: 2em;
    color: vars.$color-primario; 
    margin-bottom: 5px;
}